.jumbotron {
    color: #3c4354;
    background: #3e78b3;
    color: #192a51;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h5,strong {
    color: #192a51;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

h4 {
    font-weight: 600;
    font-style: oblique;
    font-family: cursive;
    color: #192a51;

}

body {
    background-color: #dccde8;
}